.footer {
  padding: 10px 30px;
  background-color: var(--primary-color);
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--main-color);
  padding: 10px;
  padding-bottom: 20px;
}

.footer-social-media-text {
  font-size: 24px;
  color: var(--main-color);
  font-weight: 500;
}

.footer-social-media-icons {
  display: flex;
  align-items: center;
}

.footer-social-media-icon {
  margin: 0 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-social-media-icon i {
  font-size: 25px;
}

/* ------------ footer wrapper ---------- */
.footer-links-wrapper {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-links-item {
  width: 30%;
}

.footer-links-item-title {
  color: var(--main-color);
  font-size: 21px;
  font-weight: 700;
  border-bottom: 0.5px solid white;
  width: max-content;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.footer-links {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.footer-link {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.footer-address-item {
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 21px;
}

.footer-address-item i {
  font-size: 27px;
  margin-right: 5px;
  margin-top: 3px;
}

.footer-description {
  font-size: 17px;
  color: var(--main-color);
}

/* ? ------------ media Q ------------ */
@media (max-width: 820px) {
  .footer-social-media-icon {
    margin-right: 7px;
  }

  .footer-links-wrapper {
    flex-wrap: wrap;
  }

  .footer-links-item {
    width: 50%;
  }

  .footer-links-item:last-of-type {
    width: 80%;
    margin-top: 15px;
  }
}

@media (max-width: 720px) {
  .footer-social-media {
    flex-direction: column;
  }

  .footer-social-media-text {
    margin-bottom: 15px;
    font-size: 25px;
  }

  .footer-social-media-icon {
    margin: 4px;
  }
}

@media (max-width: 520px) {
  .footer {
    padding: 15px;
  }

  .footer-links-item {
    width: 90%;
    margin-top: 20px;
  }

  .footer-links-item:last-of-type {
    width: 100%;
   
  }
}
